---
title: "Stories"
layout: default
permalink: "/stories.html"
language: ko
---
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <!-- <h1 class="font-weight-bold title h6 text-uppercase mb-4">Stories</h1> -->
      
      
      <h4 class="font-weight-bold spanborder text-capitalize">
        <span>Stories</span>
      </h4>
      {% assign stories = site.stories | where : "language", page.language %}
      {% assign sorted_stories = stories| sort: "date" | reverse %}
      {% for story in sorted_stories %} 
        {% if story.show == true %}
          {% include story-loop-card.html %} 
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>