---
title: "Front-end"
layout: default
permalink: "/frontend.html"
---

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="row align-items-center mb-5">
        <div class="col-md-9">
          <a class="text-title-green c-pointer" href="/blog">
            <h2 class="font-weight-bold">{{page.title}}</h2>
          </a>
          <!-- <p class="excerpt">{{ site.authors.sal.bio }}</p> -->
        </div>
        <div class="col-md-3 text-right">
          <img
            alt="{{ site.topics.frontend.name }}"
            src="{{site.baseurl}}/{{ site.topics.frontend.img }}"
            class="rounded-0"
            height="70"
            width="70"
          />
        </div>
      </div>
      <h4 class="font-weight-bold spanborder">
        <span>{{page.title}}</span>
      </h4>
      {% assign posts = site.posts | where:"topic","frontend" %} {% for post in
      posts %} {% include main-loop-card.html %} {% endfor %}
    </div>
  </div>
</div>
