---
title: "Back-end"
layout: default
permalink: "/backend.html"
---

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="row align-items-center mb-5">
        <div class="col-md-9 half-w-70">
          <a class="text-title-green c-pointer topic_title" href="/blog">
            <h2 class="font-weight-bold">
              <img
                src="assets/images/icon/back.png"
                alt="back"
                width="30px"
                height="30px"
              />
              {{page.title}}
            </h2>
          </a>
          <!-- <p class="excerpt">{{ site.authors.sal.bio }}</p> -->
        </div>
        <div class="col-md-3 text-right half-w-30">
          <img
            alt="{{ site.topics.backend.name }}"
            src="{{site.baseurl}}/{{ site.topics.backend.img }}"
            class="rounded-0"
            height="70"
            width="70"
          />
        </div>
      </div>
      <h4 class="font-weight-bold spanborder">
        <span>{{page.title}}</span>
      </h4>
      {% assign posts = site.posts | where:"topic","backend" %} {% for post in
      posts %} {% include main-loop-card.html %} {% endfor %}
    </div>
  </div>
</div>
