<!-- main-loop-card -->
<div class="mb-5 d-flex justify-content-between"> 
  <div class="pr-3">
    <h2 class="mb-1 h4 font-weight-bold">
      {% if page.url contains 'categories' %}
        <a class="text-dark" href="{{site.baseurl}}{{post.url}}?from=categories">
      {% else %}
        <a class="text-dark" href="{{site.baseurl}}{{post.url}}">
      {% endif %}
	      {{ post.title }}
      </a>
    </h2>
    <p class="excerpt">
      {{ post.excerpt | strip_html | strip_newlines | truncate: 186}}
    </p>
    <small class="d-block text-muted">
      In
      <span class="catlist">
        {% for category in post.categories %}
        <!-- text-muted -->
        <a
          class="text-capitalize smoothscroll font-weight-bold" 
          href="{{site.baseurl}}{% if page.language == 'en' %}/en{% endif %}/categories.html#{{ category | downcase }}"
          >{{ category }}</a
        ><span class="sep">, </span>
        {% endfor %}
      </span>
    </small>
    <small class="text-muted"> {{ post.date | date: '%b %d, %Y' }} </small>
  </div>
  {% if post.image %}
  <div class="col-md-3 pr-0 text-right">
    <!-- href="{{site.baseurl}}{{post.url}}" -->
    <a>
      <img class="w-100" src="{% if post.image contains "://" %}{{ post.image
      }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{
      post.title }}">
    </a>
  </div>
  {% endif %}
</div>
