<div id="multilingual" class="radio-group">
  <div class="radio">
      <input type="radio" name="language" id="ko" value="ko" {% if page.language == "ko" %} checked {% endif %}>
      <label for="ko">한국어</label>
  </div>
  <div class="radio">
      <input type="radio" name="language" id="en" value="en" {% if page.language == "en" %} checked {% endif %}>
      <label for="en">English</label>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const currentPath = window.location.pathname;
    const multilingualElement = document.getElementById("multilingual");

    if (currentPath.includes("myZone")) {
      multilingualElement.classList.add("hidden");
    } else {
      multilingualElement.classList.remove("hidden");
    }
    
    document.querySelectorAll('input[name="language"]').forEach(function (radio) {
      radio.addEventListener('change', function () {
        if (this.value === 'en') {
          if (!window.location.pathname.includes('/en/')) {
            window.location.href = '/en' + window.location.pathname;
          }
        } else if (this.value === 'ko') {
          if (window.location.pathname.includes('/en/')) {
            window.location.href = window.location.pathname.replace('/en', '');
          }
        }
      });
    });
  });
</script>