<!-- main-loop-card -->
<div class="mb-5 d-flex justify-content-between">
  <div class="pr-3 col-md-8">
    <h2 class="mb-1 h5 font-weight-bold">
      {% if page.url contains 'tags' %}
        <a id="tagUrl" class="text-dark" href="{{ site.baseurl }}{{ story.url }}">
      {% else %}
        <a class="text-dark" href="{{ site.baseurl }}{{ story.url }}">
      {% endif %}
        {{ story.title }}
      </a>
    </h2>
    <p class="excerpt">
      {% if page.language == 'en' %}
      {{ story.excerpt | strip_html | strip_newlines | truncate: 125 }}
      {% else if page.language == 'ko' %}
      {{ story.excerpt | strip_html | strip_newlines | truncate: 80 }}
      {% endif %}
      
    </p>
    <small class="d-block text-muted">
      <span class="catlist">
        {% if story.tags %} Tags [ {% for tag in story.tags %}
        <!-- text-muted -->
        <a
          class="text-capitalize font-weight-bold smoothscroll" 
          href="{{ site.baseurl }}{% if page.language == 'en' %}/en{% endif %}/tags.html#{{ tag | downcase }}">
          {{ tag }}
        </a>
        {% if forloop.last == false %}, {% endif %} {% endfor %} ] {% else %} No
        tags {% endif %}
      </span>
    </small>
    <small class="text-muted">{{ story.date | date: '%b %d, %Y' }}</small>
  </div>
  {% if story.image %}
  <div class="col-md-3 pr-0 text-right">
    <a href="{{ site.baseurl }}{{ story.url }}">
      <img
        class="w-100"
        src="{{ site.baseurl }}/{{ story.image }}"
        alt="{{ story.title }}"
      />
    </a>
  </div>
  {% endif %}
</div>