<div class="blog-list-container">
  <div class="align-items-center m-0">
    <table class="w-100">
      <tr>
        <th class="half-w-70">
          <h5 class="blog-list-title">Other Story</h5>
        </th>
        <th class="text-right">
          <a id="list-btn" class="list-btn" href="/stories">List</a>
        </th>
      </tr>
    </table>
  </div>
  <hr />
  <ul class="blog-list">
    {% assign story_posts = site.stories | sort: "date"
    | reverse %} {% assign current_index = 0 %} {% for post in story_posts %} {%
    if post.url == page.url %} {% assign current_index = forloop.index0 %} {%
    endif %} {% endfor %} {% assign start_index = current_index | minus: 2 %} {%
    if start_index < 0 %} {% assign start_index = 0 %} {% endif %} {% assign
    surrounding_posts = story_posts | slice: start_index, 5 %} {% for post in
    surrounding_posts %}
    <li>
      <h6 class="blog-item-title">
        {% if post.url == page.url %}
        <a id="other_story"
          style="text-decoration: underline"
          class="this overflow-wrap"
          href="{{ post.url | prepend: site.baseurl }}"
          >{{ post.title }}</a
        >
        <span style="text-decoration: underline" class="blog-item-date this"
          >{{ post.date | date: "%Y-%m-%d" }}</span
        >
        {% else %}
        <a id="other_story" class="overflow-wrap" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
        <span class="blog-item-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        {% endif %}
      </h6>
    </li>
    {% endfor %}
  </ul>
  <hr />
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const params = new URLSearchParams(window.location.search);
    const from = params.get("from");

    if (from === "tags") {
      const list = document.getElementById("list-btn");
      list.href = "/tags";

      const others = document.querySelectorAll("#other_story");
      others.forEach((other) => {
        other.href = other.href+"?from=tags";
      });
    }
  });
</script>


<!-- 모든 게시물을 내림차순으로 정렬 -->
<!-- <div class="blog-list-container">
  <h5 class="blog-list-title">Other posts in the category</h5>
  <hr />
  <ul class="blog-list">
    {% assign category_posts = site.posts | where: "categories",
    page.categories[0] | sort: "date" | reverse %} {% assign current_index = 0
    %} {% for post in category_posts %} {% if post.url == page.url %} {% assign
    current_index = forloop.index0 %} {% endif %} {% endfor %} {% assign
    start_index = current_index | minus: 2 %} {% if start_index < 0 %} {% assign
    start_index = 0 %} {% endif %} {% assign surrounding_posts = category_posts
    | slice: start_index, 5 %} {% for post in surrounding_posts %}
    <li>
      <h6 class="blog-item-title">
        {% if post.url == page.url %}
        <a
          style="text-decoration: underline"
          class="this"
          href="{{ post.url | prepend: site.baseurl }}"
          >{{ post.title }}</a
        >
        <span style="text-decoration: underline" class="blog-item-date this"
          >{{ post.date | date: "%Y-%m-%d" }}</span
        >
        {% else %}
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="blog-item-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        {% endif %}
      </h6>
    </li>
    {% endfor %}
  </ul>
  <hr />
</div> -->
