<!-- zone-loop-card -->
<div class="mb-5 d-flex justify-content-between">
  <div class="pr-3 col-md-8">
    <h2 class="mb-1 h5 font-weight-bold">
        <a class="text-dark" href="{{ site.baseurl }}{{ zone.url }}">
        {{ zone.title }}
      </a>
    </h2>
    <p class="excerpt">
      {{ zone.excerpt | strip_html | strip_newlines | truncate: 125 }}
    </p>
    <small class="text-muted">{{ zone.date | date: '%b %d, %Y' }}</small>
  </div>
  {% if zone.image %}
  <div class="col-md-3 pr-0 text-right">
    <a href="{{ site.baseurl }}{{ zone.url }}">
      <img
        class="w-100"
        src="{{ site.baseurl }}/{{ zone.image }}"
        alt="{{ zone.title }}"
      />
    </a>
  </div>
  {% endif %}
</div>