---
title: "Tags"
layout: default
permalink: "/en/tags.html"
language: en
---

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="col-md-9 half-w-70">
        <a class="text-title-green c-pointer topic_title" href="/en/stories">
          <h2 class="font-weight-bold">
            <img
              src="{{site.baseurl}}/assets/images/icon/back.png"
              alt="back"
              width="30px"
              height="30px"
            />
            Tags
          </h2>
        </a>
      </div>

      <!-- <h1 class="font-weight-bold title h6 text-uppercase mb-4">Tags</h1> -->
      {% assign all_tags = site.stories | map: "tags" | join: "," | split: "," | uniq %}
      {% for tag in all_tags %}
        <h4 class="font-weight-bold spanborder text-capitalize" id="{{ tag | downcase | strip }}">
          <span>{{ tag | strip }}</span>
        </h4>

        <div class="tag-section">
          {% assign tagged_stories = site.stories | where_exp: "story", "story.tags contains tag" %}
          {% assign stories = tagged_stories | where: "language", page.language %}
          {% for story in stories %}
            {% if story.title %}
              {% include story-loop-card.html story=story %}
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}

    </div>

    <!-- <div class="col-md-4">{% include sidebar-featured.html %}</div> -->
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const hash = window.location.hash;
    if (hash != null && hash != undefined) {
      const tagUrl = document.querySelectorAll("#tagUrl");
      tagUrl.forEach((tagUrl) => {
        tagUrl.href = tagUrl.href+"?from=tags"+hash;
      });
    }
  });
</script>